@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-image: url(../../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 20rem 5rem;
}
@media screen and (min-width: 75em) {
  body {
    background-size: 38.1rem 9.65rem;
  }
}

.main {
  padding-top: 1rem;
  margin: 0 1.5rem;
}
@media screen and (min-width: 48em) {
  .main {
    padding-top: 8rem;
  }
}
@media screen and (min-width: 69em) {
  .main {
    padding-top: 3.3rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 0.95rem;
}
@media screen and (min-width: 50em) {
  h2 {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 62.5em) {
  h2 {
    font-size: 1.25rem;
  }
}

.testimonials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  max-width: 81rem;
  overflow: hidden;
}

.testimonial {
  position: absolute;
  visibility: hidden;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  max-width: 30rem;
}
@media screen and (min-width: 48rem) {
  .testimonial {
    max-width: 35rem;
  }
}
@media screen and (min-width: 69em) {
  .testimonial {
    flex-direction: row;
    max-width: 81rem;
  }
}
.testimonial.active {
  position: relative;
  right: 0;
  visibility: visible;
}
.testimonial__img {
  max-width: 20rem;
  padding: 2.25rem;
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 20%;
}
@media screen and (min-width: 48rem) {
  .testimonial__img {
    padding: 3.25rem;
    max-width: 30rem;
  }
}
@media screen and (min-width: 69em) {
  .testimonial__img {
    order: 1;
    min-width: 43.5rem;
    padding: 4rem;
    background-size: contain;
    background-position: 0 0;
    margin-left: -8.5rem;
    position: relative;
    z-index: -1;
  }
  .testimonial__img img {
    position: relative;
    z-index: -1;
  }
}
.testimonial__img img {
  border-radius: 7px;
  animation: move 3.5s ease-in-out infinite;
}
.testimonial__text {
  text-align: center;
  color: hsl(240, 38%, 20%);
  padding-top: 1.7rem;
  background-image: url(../images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position: 50% 0%;
}
@media screen and (min-width: 69em) {
  .testimonial__text {
    padding-left: 5.8rem;
    text-align: left;
    padding-top: 4.2rem;
    background-size: 7.3rem;
    background-position: 31% 0%;
    margin-top: 0.3rem;
  }
}
.testimonial__quote {
  font-size: 1.13rem;
  line-height: 1.35;
  font-weight: 300;
}
@media screen and (min-width: 48rem) {
  .testimonial__quote {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 69em) {
  .testimonial__quote {
    font-size: 2rem;
    line-height: 1.4;
  }
}
.testimonial__info {
  margin-top: 1rem;
}
@media screen and (min-width: 69em) {
  .testimonial__info {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-top: 2.3rem;
  }
}
.testimonial__occupation {
  color: hsl(240, 18%, 77%);
  font-size: 0.92rem;
  margin-top: 0.1rem;
}
@media screen and (min-width: 48rem) {
  .testimonial__occupation {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 69em) {
  .testimonial__occupation {
    font-size: 1.25rem;
  }
}
.testimonial__btns {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  right: 50%;
  top: 16.5rem;
  bottom: auto;
  transform: translateX(50%);
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 10px 34px -2px rgba(66, 68, 90, 0.5);
}
@media screen and (min-width: 48rem) {
  .testimonial__btns {
    top: 25rem;
  }
}
@media screen and (min-width: 69em) {
  .testimonial__btns {
    top: auto;
    bottom: 5%;
    right: 28.5rem;
    transform: translate(0%, -8%);
  }
}
.testimonial__btn {
  background-color: #fff;
  border: none;
  padding: 0.6rem 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
@media (hover: hover) {
  .testimonial__btn:hover {
    background-color: #f7f7f7;
  }
}
@media screen and (min-width: 70em) {
  .testimonial__btn {
    padding: 1.1rem 1.4rem;
  }
}/*# sourceMappingURL=main.css.map */